<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CV_ASPMVC_GROUP2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TheoTest.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TheoTest</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>

                    <div class="navbar-collapse collapse">
                        <ul class="navbar-nav">
                        </ul>
                       @*  <form class="form-inline my-2 my-lg-0 ml-auto" asp-controller="Search" asp-action="Index" method="get" *@
                        
                         <p>
                                @using (@Html.BeginForm("Index", "Search", FormMethod.Get))
                                {
                                 <br />
                                    @Html.TextBox("search") <input type="submit" value="Sök"/>
                                }
                          </p>
                            @* <input class="form-control mr-sm-2" type="search" placeholder="Sök användare..." aria-label="Sök" name="searchString"> *@
                            @* <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sök</button> *@
                      @*   </form> *@
                    </div>

                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Meny
                        </button>
                        <ul class="dropdown-menu bg" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item text-black" href="@Url.Action("Index", "Home")">Hem</a></li>
                            <li><a class="dropdown-item text-black" href="@Url.Action("Login", "Account")">Logga in</a></li>
                            <li><a class="dropdown-item text-black" href="@Url.Action("CVs", "Cv")">CV</a></li>
                            <li><a class="dropdown-item text-black" href="@Url.Action("Index", "Project")">Projekt</a></li>
                            <li><a class="dropdown-item text-black" href="@Url.Action("Users", "Account")">Användare</a></li>

                        </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="fixed-bottom bg-light text-center">
        <div class="container py-3">
            <a asp-action="Inbox" asp-controller="Message" class="btn btn-primary">Inkommande meddelanden</a>
            <a asp-action="SendMessage" asp-controller="Message" class="btn btn-primary">Skicka meddelande</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
