@model CV_ASPMVC_GROUP2.Models.ShowCvViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="card" style="width:300px" >
    <img src="~/Images/@Html.ValueFor(model => model.User.ProfilePicture)" class="card-img-top" alt="Profilbild" asp-append-version="true" />
    <div class="card-body">
        <h2>Kontaktuppgifter</h2>
        <h5 class="card-title">Namn: @Html.DisplayFor(model => model.User.FirstName) @Html.DisplayFor(model => model.User.LastName)</h5>
        <p>Telefonnummer: @Html.DisplayFor(model => model.User.PhoneNumber)</p>
        <p>Email: @Html.DisplayFor(model => model.User.Email)</p>
    </div>
</div>

@* If-sats som kontrollerar den inloggade användarens användarnamn med användarnamnet från modellen
 *@@if(Model.User.UserName.Equals(User?.Identity?.Name))
{
    <a class="btn btn-dark" asp-action="EditCv" asp-controller="Cv" asp-route-id="@Model.Cv.Id">Redigera Cv</a>
    <a class="btn btn-dark" asp-action="CreateCompetence" asp-controller="Competence">Lägg till kompetens</a>
    <a class="btn btn-dark" asp-action="Create" asp-controller="Experience">Lägg till erfarenhet</a>
    <a class="btn btn-dark" asp-action="CreateEducation" asp-controller="Education">Lägg till utbildning</a>
}

<div class="container-fluid">
    <h5>@Html.DisplayNameFor(model => model.Cv.ImageFile)</h5>
    <img src="~/Images/@Html.ValueFor(model => model.Cv.CvImage)" class="img-fluid" alt="CV-bild" asp-append-version="true" height="200px" width="200px" />
    <br />
    <h5>@Html.DisplayNameFor(model => model.Cv.Description)</h5>
    <p>@Html.DisplayFor(model => model.Cv.Description)</p>
</div>

@* En foreach-loop där vi skrivet ut attribut för varje objekt i listan
 *@@foreach(var item in Model.Educations) 
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayNameFor(model => item.Name)</h5>
            <p>@Html.DisplayFor(model => item.Name)</p>
            <h5 class="card-title">@Html.DisplayNameFor(model => item.Description)</h5>
            <p>@Html.DisplayFor(model => item.Description)</p>

@*             If-sats som kontrollerar den inloggade användarens användarnamn med användarnamnet från modellen
 *@            @if (Model.User.UserName.Equals(User?.Identity?.Name))
            {
                <form method="post" asp-controller="Education" asp-action="Delete" asp-route-id="@item.Id">
                    <input class="btn btn-dark" type="submit" value="Ta bort" />
                </form>
            }
        </div>
    </div>
    <br />
}
@* En foreach-loop där vi skrivet ut attribut för varje objekt i listan
*@
@foreach(var item in Model.Experiences)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayNameFor(model => item.Name)</h5>
            <p>@Html.DisplayFor(model => item.Name)</p>
            <h5 class="card-title">@Html.DisplayNameFor(model => item.Description)</h5>
            <p>@Html.DisplayFor(model => item.Description)</p>

            @if (Model.User.UserName.Equals(User?.Identity?.Name))
            {
                <form method="post" asp-controller="Experience" asp-action="DeleteExperience" asp-route-id="@item.Id">
                    <input class="btn btn-dark" type="submit" value="Ta bort" />
                </form>
            }
        </div>
    </div>
    <br />
}

@foreach(var item in Model.Competences)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayNameFor(model => item.Name)</h5>
            <p>@Html.DisplayFor(model => item.Name)</p>
            <h5 class="card-title">@Html.DisplayNameFor(model => item.Description)</h5>
            <p>@Html.DisplayFor(model => item.Description)</p>
            @if (Model.User.UserName.Equals(User?.Identity?.Name))
            {
                <form method="post" asp-controller="Competence" asp-action="Delete" asp-route-id="@item.Id">
                    <input class="btn btn-dark" type="submit" value="Ta bort" />
                </form>
            }
        </div>
    </div>
    <br />
}

<h2>Projekt Som @Model.User.FirstName deltar i</h2>

@* Skrivet ut alla objekt som användaren deltar i 
 *@@foreach(var item in Model.Projects)
{
    <div class="card bg-light">
        <div class="card-body">
            <img src="~/Images/@item.Image" class="img-fluid" alt="Projekt-bild" asp-append-version="true" height="200px" width="200px" />
            <h4 class="card-title">@item.Name</h4>
            <p>@item.Description</p>
            <br />
            <p>Skapat: @item.CreatedDate</p>
        </div>
    </div>
}

<div style="height:50px" class="container-fluid"></div>