@model CV_ASPMVC_GROUP2.Models.HomePageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<form method="post" asp-controller="Account" asp-action="Logout">
    @if (User.Identity.IsAuthenticated)
    {
     
        <h2>Du är inloggad som @User.Identity.Name</h2>
    }
</form>
<div class="container-fluid d-inline-flex gap-5 align-content-center">
    @foreach(var user in Model.Users)
    {
        <div class="card bg-light" style="width:200px">
            @if(user.ProfilePicture != null)
            {
                <img src="~/Images/@user.ProfilePicture" class="card-img-top" alt="Profilbild" asp-append-version="true" />
            }
            <div class="card-body flex-fill">
                <h5 class="card-title">@user.FirstName @user.LastName</h5>
                <p>username: @user.UserName</p>
                <a asp-controller="Cv" asp-action="ShowCv" asp-route-userId="@user.Id" class="btn btn-dark">Visa Cv-sidan</a>
            </div>
        </div>
    }
</div>

<h1>Det senaste projektet</h1>

<div class="row">
    <div class="row">
        @foreach (var project in Model.Projects)
        {
            <div class="card" style="margin-bottom:90px">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/Images/@project.Image" class="img-fluid" alt="Responsive image" asp-append-version="true" height="200px" width="200px" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@project.Name</h5>
                            <p class="card-text">@project.Description</p>
                            <p class="card-text">@project.CreatedDate</p>
                            @if(User.Identity.IsAuthenticated)
                            {
                                <a class="btn btn-light" asp-controller="Project" asp-action="Join" asp-route-id="@project.Id">Gå med</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>