

@model IEnumerable<CV_ASPMVC_GROUP2.Models.Project>
@{
    ViewData["Title"] = "Index";
}

<h1>Välkommen till projektsidan </h1>
<p> Här har vi samlat en lista av de projekt som användare av denna hemsida har skapat! </p>

@* Kontrollerar om användaren är inloggad och tillåter den att skapa ett projekt
 *@@if(User.Identity.IsAuthenticated)
{
    <a asp-controller="Project" asp-action = "Create"> Skapa nytt projekt</a>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Titel
            </th>
              <th>
                Beskrivning
        </th>
        <th>
                Deltagare
        </th>
        <th>
                Bild
        </th>
        <th></th>
        </tr>
    </thead>
    <tbody>

@*         Foreach-loop som visar attribut om projekten i listan
 *@        @foreach(var item in Model)
        {
            <tr>
                <td>
                 @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Description)
                </td>

               
                <td class="userProject">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @String.Join(" ", item.UserProjects.Select(user => user.user))
                    }
                    else
                    {
                        //Hämtar användare som inte är privata
                        var nonPrivateUsers = item.UserProjects.Where(user => !user.user.PrivateStatus == true).Select(user => user.user);
                        @String.Join(" ", nonPrivateUsers)
                    }
                </td>

                <td>
                   <img src="~/Images/@item.Image" class="img-fluid" alt="Responsive image" asp-append-version = "true" height="200px" width="200px" />
                </td>

@*                 Kontrollerar om användaren som skapat projektet är samma användare som är inloggad
 *@                @if (item.CreatedByUserId == ViewBag.CurrentUserId)
                {
                    <td>
                        <a asp-controller = "Project" asp-action="EditProject" asp-route-Id ="@item.Id"> Redigera </a>
                    </td>
                    <td>
                        <a asp-controller="Project" asp-action="Delete" asp-route-Id="@item.Id"> Radera </a>
                    </td>
                }

@*                 Kontrollerar om användaren är inloggad och låter den då gå med i ett projekt
 *@                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        <a asp-controller="Project" asp-action="Join" asp-route-Id ="@item.Id"> Gå med i projekt</a>
                </td>
                }
            </tr>
         
        }

    </tbody>
</table>