@model IEnumerable<CV_ASPMVC_GROUP2.Models.Project>
@{
    ViewData["Title"] = "Index";
}

<h1>Välkommen till projektsidan </h1>
<p> Här har vi samlat en lista av de projekt som användare av denna hemsida har skapat! </p>

@if(User.Identity.IsAuthenticated)
{
    <a asp-controller="Project" asp-action = "Create"> Skapa nytt projekt</a>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.UserProjects)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                 @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Description)
                </td>

                 <td>
                    @Html.DisplayFor(modelItem => item.UserProjects)
                </td>
                <td>
                   <img src="~/Images/@item.Image" class="img-fluid" alt="Responsive image" asp-append-version = "true" height="200px" width="200px" />
                </td>
                <td>
                    <a asp-controller = "Project" asp-action="EditProject" asp-route-Id ="@item.Id"> Redigera </a>
                </td>
                <td>
                    <a asp-controller="Project" asp-action="Delete" asp-route-Id="@item.Id"> Radera </a>
                </td>
                <td>
                    <a asp-controller="Project" asp-action="Join" asp-route-Id ="@item.Id"> Gå med i projekt</a>
                </td>

            </tr>
         
        }





    </tbody>












</table>