@model ProfileViewModel



<h1>Välkommen till din profil</h1>

<a asp-action="UploadFile">Ladda upp en profilbild</a>

<div class="info">
<h1>@User.Identity.Name</h1>

    <img src="~/Images/@ViewBag.userInfo.ProfilePicture" class="img-fluid" alt="Responsive image" asp-append-version="true" height="200px" width="200px" />
  
<p> @ViewBag.userInfo.FirstName</p>
<p> @ViewBag.userInfo.LastName</p>
<p> @ViewBag.userInfo.Email</p>
<p> @ViewBag.userInfo.PhoneNumber</p>
</div>










