@model ProfileViewModel



<h1>Välkommen till din profil</h1>

<a asp-action="UploadFile">Ladda upp en profilbild</a>

<div class="info">
    <h1>@Html.DisplayFor(p => p.user.UserName)</h1>

    <img src="~/Images/@Html.ValueFor(p => p.user.ProfilePicture)" class="img-fluid" alt="Responsive image" asp-append-version="true" height="200px" width="200px" />
    <br />
    <p class="textInfo">@Html.DisplayFor(p => p.user.FirstName)</p>
    <p class="textInfo">@Html.DisplayFor(p => p.user.LastName)</p>
    <p class="textInfo">@Html.DisplayFor(p => p.user.Email)</p>
    <p class="textInfo">@Html.DisplayFor(p => p.user.PhoneNumber)</p>

    <div class="form-group row mb-2">
        <p class="privateStatusP">Hantera kontointegritet</p>
        <form asp-controller="Profile" asp-action="UpdatePrivat" method="post">
            <input type="checkbox" name="isChecked" value="true" />
            <input type="submit" value="Privat profil" />
        </form>
    </div>
    <br />

    <div class="form-group row mb-4">

        <form asp-controller="Profile" asp-action="UpdatePrivat" method="post">
            <input type="checkbox" name="isChecked" value="false" />
            <input type="submit" value="Offentlig profil" />
        </form>
    </div>
   
</div>










