@model ProfileViewModel

<h1>Välkommen till profilsidan</h1>
@if (Model.User.Id.Equals(Model?.AuthorizedUserId))
{
    <form id="UpdatePrivateStatus" asp-controller="Profile" asp-action="UpdatePrivateStatus" method="post">
        <label>Privat profil:</label>
        @Html.CheckBoxFor(model => Model.User.PrivateStatus, new { onchange = "document.getElementById('UpdatePrivateStatus').submit()", @class = "toggle", id = "priv" })
        <label for="priv"></label>
    </form>
}

@if (Model.Cv == null && Model.User.Id.Equals(Model?.AuthorizedUserId))
{
    <a asp-controller="Cv" asp-action="CreateCv">Lägg till ett Cv</a>
    <br />
}
else if (Model.Cv != null)
{
    <a asp-controller="Cv" asp-action="ShowCv" asp-route-userId="@Model.User.Id">Visa Cv-sidan</a>
    <br />
}
@if (Model.User.Id.Equals(Model?.AuthorizedUserId))
{
    <a asp-action="UploadFile">Ladda upp en profilbild</a>
}

<div class="info">
    <h1>Användarnamn: @Html.DisplayFor(p => p.User.UserName)</h1>

    <h3>Profilbild:</h3>
    <img src="~/Images/@Html.ValueFor(p => p.User.ProfilePicture)" class="img-fluid" alt="Responsive image" asp-append-version="true" height="200px" width="200px" />
  
    <p>Förnamn: @Html.DisplayFor(p => p.User.FirstName)</p>
    <p>Efternamn: @Html.DisplayFor(p => p.User.LastName)</p>
    <p> Epost: @Html.DisplayFor(p => p.User.Email)</p>
    <p>Telefonnummer: @Html.DisplayFor(p => p.User.PhoneNumber)</p>


    
</div>